<div class="cube">
  <img class="cube" src="{{this.imageUrl}}">
  <p class="name">{{this.name}}</p>
  <p><span>Difficulty level:</span> {{this.difficulty}}</p>
  <a class="btn" href="/details/{{this._id}}">Details</a>
  <a class="btn" href="/attach/accessory/{{this._id}}">Attach Accessory</a>
</div>