<h1 class="text-center">Courses</h1>
<section>
    <a href="/course/create" class="btn btn-warning ">Create Course</a>
    <form class="search float-right" action="/course-search" method="POST">
        <label>Search: </label>
        <input type="text" name="search">
        <input type="submit" class="btn btn-info" value="Search">
    </form>
</section>

{{#if hasCourses}}
<div class="container mt-3">
    <div class="row ">
        <div class="card-deck d-flex justify-content-center">
            {{#each hasCourses}}
            <div class="card mb-4">
                <img class="card-img-top"
                    src="{{this.imageUrl}}"
                    alt="Card image cap" width="400">
                <div class="card-body">
                    <h4 class="card-title">{{this.title}}</h4>
                </div>
                <div class="card-footer">
                    <a href="/details/{{this._id}}"><button type="button" class="btn btn-info">Details</button></a>
                    <small class="float-right">{{this.date}}</small>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
{{else}}
<h3 class="text-center">No courses...</h3>
{{/if}}