<div class="container">

    <section class="details">
        <h1>{{play.title}}</h1>
        <div>
            <img src="{{play.imageUrl}}" alt="Card image cap" width="400" />
        </div>
    </section>

    <section class="details">
        <h3>Theater Description</h3>
        <p>{{play.description}}</p>
        <div class="buttons">

            {{#if show.isCreator}}
            <a class="btn delete" href="/delete/{{play._id}}">Delete</a>
            <a class="btn edit" href="/edit/{{play._id}}">Edit</a>
            {{/if}}

            {{#if show.alreadyLiked}}
            <span class="liked">You have already liked this play!</span>
            {{/if}}

            {{#if show.available}}
            <a class="btn like" href="/like/{{play._id}}">Like</a>
            {{/if}}
        </div>
    </section>
</div>